<!-- login.html -->
{% extends 'users/base.html' %}
{% load static %}

{% block title %}Login | Smart Inventory System{% endblock title %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}?v=2">
{% endblock extra_styles %}

{% block content %}
<div class="container">
    <div class="left-pane" style="background-image: url('{% static 'images/login.jpg' %}');">
    </div>
    <div class="right-pane">
        <div class="avatar">
            <!-- Placeholder for the avatar icon -->
        </div>
        <form method="post" action="{% url 'users:login' %}" class="login-form">
            {% csrf_token %}
            <div id="login-error" style="display:none;color:red;"></div>
            <div class="form-container"> <!-- Updated container for form fields -->
                <div class="textbox">
                    <input type="text" id="username" name="username" placeholder="Email" required class="form-control" autocomplete="current-username">
                </div>
                <div class="textbox">
                    <input type="password" id="password" name="password" placeholder="Password" required class="form-control" autocomplete="current-password">
                </div>
                <div class="form-group"> <!-- This can stay as is if you want to style the button separately -->
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
            <p>Ready to get started? <a href="{% url 'users:register' %}">Create account</a></p>
            <div class="qr-login">
                <p>Use your phone camera to scan this code to log in instantly</p>
                <img src="{% url 'users:generate_qr' %}" alt="Login with QR Code" style="width: 150px; height: 150px;">
            </div>
        </form>
        <div class="footer">
            <p>
                <a href="https://twitter.com/route69" target="_blank">Twitter</a> |
                <a href="https://linkedin.com/in/route69" target="_blank">LinkedIn</a>
            </p>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_scripts %}
<!-- Load jQuery first -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Then load your custom AJAX login script -->
<script src="{% static 'js/login.js' %}"></script>
<script src="{% static 'js/badge_status.js' %}"></script>
{% endblock extra_scripts %}
