{% extends "users/base.html" %}

{% load static %}

{% block title %}Forbidden Error | Smart Inventory System{% endblock title %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock extra_styles %}

{% block content %}
<div class="outer-container">
    <div class="message-container">
        <h1 class="fw-light">Access Forbidden</h1>
        <p class="fw-light">Unfortunately, we couldn't verify your request. Please try again or contact support if the problem persists.</p>
        <p class="fw-light">Reason: {{ reason }}</p>
        <div>
            <a href="{% url 'users:home' %}" class="btn btn-primary">Go to Home</a>
        </div>
    </div>
</div>
{% endblock content %}

