{% extends 'base.html' %}
{% load static %}
{% block title %}Home | Smart Inventory System{% endblock title %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock extra_styles %}

{% block content %}
<!-- The outer-container centers the message-container -->
<div class="outer-container">
    <!-- The message-container holds and styles the message and button -->
    <div class="message-container">
        <h1 class="fw-light">Track and Manage Your Inventory</h1>
        <p class="fw-light">Keep track of your inventory and receive quantity alerts for low inventory</p>
        <div>
            <a href="{% url 'demo:login' %}" class="btn btn-primary">Get Started Now!</a>
        </div>
    </div>
</div>
{% endblock content %}
