{% load static %}
<nav class="navbar navbar-expand-lg" style="background-color: transparent; border: none;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'demo:home' %}">
            <img src="{% static 'images/FullLogo.png' %}" alt="Logo" height="30">
            Smart Inventory System
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'demo:dashboard' %}">Home</a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form action="{% url 'demo:logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item">Logout</button>
                            </form>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item {% if request.resolver_match.url_name == 'login' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'demo:login' %}">Login</a>
                </li>

                <li class="nav-item {% if request.resolver_match.url_name == 'register' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'demo:register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>