{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <h2 class="text-center my-4">Register</h2>
  <form method="post" class="register-form">
      {% csrf_token %}
      <div class="form-row">
          <div class="form-group col-md-6 mb-3">
              {{ form.first_name|as_crispy_field }}
          </div>
          <div class="form-group col-md-6 mb-3">
              {{ form.last_name|as_crispy_field }}
          </div>
      </div>
      <div class="form-group mb-3">
          {{ form.email|as_crispy_field }}
      </div>
      <div class="form-group mb-3">
          {{ form.password1|as_crispy_field }}
      </div>
      <div class="form-group mb-3">
          {{ form.password2|as_crispy_field }}
      </div>
      <div class="form-group mb-3">
          {{ form.contact_number|as_crispy_field }} <!-- Utilizing Crispy Forms for uniformity -->
      </div>
      <div class="form-group mb-3">
          {{ form.position|as_crispy_field }} <!-- Utilizing Crispy Forms for uniformity -->
      </div>
      <div class="text-center"> <!-- Center the button and agreement text -->
          <button type="submit" class="btn btn-primary">Register</button>
          <p class="agreement mt-3">By registering, I agree with the Terms of Use & Privacy Policy</p>
      </div>
      <div class="text-center mt-2"> <!-- Center the login link with margin top -->
          <a href="{% url 'demo:login' %}" class="btn btn-link">Already have an account? Log in</a>
      </div>
  </form>
</div>
{% endblock %}



