/* base.css */
:root {
    --primary-color: #005288; /* Dark blue */
    --secondary-color: #00A3FF; /* Light blue */
    --text-color: #050607; /* Almost black */
    --button-color: #5cb85c; /* Green */
    --button-hover-color: ; /* Dark green */
    --error-color: #D8000C; /* Red */
    --error-background: #FFD2D2; /* Light red */
    --container-background: grey; 
    
}

footer {
    background-color: var(--primary-color);
    color: white;
    position: flex;
    right: 0;
    bottom: 0;
    padding: 2px;
    width: 100%;
    text-align: right;
}