<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/dashboard_global.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Route69 | Smart Inventory System{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link href="https://bootswatch.com/5/cerulean/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <body class="d-flex flex-column min-vh-100">
        <div class="container-fluid flex-grow-1">
            <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-logo-container">
                    <img src="{% static 'images/FullLogo.png' %}" alt="Full Logo" class="sidebar-logo"> <!-- Notice the 'sidebar-logo' class here -->
                </div>
                <div class="user-profile-container">
                    <!-- User avatar image -->
                    {% if request.user.profile.photo %}
                        <img src="{{ request.user.profile.photo.url }}" alt="{{ request.user.get_full_name }}" class="profile-avatar">
                    {% else %}
                        <img src="{% static 'images/users/gatesecurity.jpg' %}" alt="Default Avatar" class="profile-avatar">
                    {% endif %}
                    <span class="profile-name">{{ request.user.get_full_name }}</span>
                </div>                              
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">
                                <span class="icon-container">
                                <img src="{% static 'icons/dashboard-icon.png' %}" alt="Dashboard" class="nav-icon">
                            </span>
                                Dashboard 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'inbound:inbound_dashboard' %}">
                                <span class="icon-container">
                                    <img src="{% static 'icons/dashboard-icon.png' %}" alt="Inbound">
                                </span>
                                Inbound
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'dashboard_global:dashboard' %}">
                                <span class="icon-container">
                                    <img src="{% static 'icons/dashboard-icon.png' %}" alt="Outbound">
                                </span>
                                Outbound
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'inventory:inventory_dashboard' %}">
                                <span class="icon-container">
                                    <img src="{% static 'icons/dashboard-icon.png' %}" alt="Inventory">
                                </span>
                                Inventory
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'storage:storage_dashboard' %}">
                                <span class="icon-container">
                                    <img src="{% static 'icons/storage.png' %}" alt="Storage">
                                </span>
                                Storage
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'inventory:reports' %}">
                                <span class="icon-container">
                                    <img src="{% static 'icons/reports.png' %}" alt="Reports">
                                </span>
                                Reports
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'dashboard_global:settings' %}">
                                <span class="icon-container">
                                    <img src="{% static 'icons/settings.png' %}" alt="Settings">
                                </span>
                                Settings
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'dashboard_global:logout' %}">
                                <span class="icon-container">
                                    <img src="{% static 'icons/logout.png' %}" alt="Logout">
                                </span>
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main content -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                {% block content %}{% endblock %}
            </main>
        </div>
    <footer class="text-muted py-4 bg-light mt-auto">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>Copyright © {% now "Y" %} E-ITech</p>
        </div>
    </footer>
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
