{% extends 'base.html' %}
{% load static %}
{% block title %}New User | Smart Inventory System{% endblock title %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock extra_styles %}
{% block content %}
<div class="outer-container">
    <div class="message-container">
        <h1>Successfully Approved</h1>
        <p>User '{{ username }}' has been successfully approved.</p>
        <p>Please check your email for instructions on how to set up your new password.</p>
        <ul>
            <li><strong>Username:</strong> {{ username }}</li>
            <li><strong>Email:</strong> {{ email }}</li>
        </ul>
        <form action="{% url 'users:send_password_reset_email' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ user_id }}" />
            <button type="submit" class="btn btn-primary">Send Email</button>
        </form>
    </div>
</div>
{% endblock %}

