{% extends 'base.html' %}  <!-- Make sure this is the correct path to your base template -->
{% load static %}
{% block title %}Account Pending Approval | Smart Inventory System{% endblock title %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock extra_styles %}

{% block content %}
<div class="outer-container">
    <div class="message-container">
        <h1 class="fw-light">Account Pending Approval</h1>
        <p class="fw-light">Thank you for registering! Your account is currently pending approval by an administrator. You will receive an email once your account has been activated.</p>
        <div>
            <a href="{% url 'users:home' %}" class="btn btn-primary">Return to home page</a> <!-- Replace 'home' with the actual name of your home URL pattern -->
        </div>
    </div>
</div>
{% endblock content %}


